parameters:
    paths:
        - src
        - tests
        - config
    level: max
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/Application/config/reference.php
        - %currentWorkingDirectory%/tests/Application/var/*
    doctrine:
        objectManagerLoader: tests/phpstan/object-manager.php
    symfony:
        containerXmlPath: %currentWorkingDirectory%/tests/Application/var/cache/dev/Sulu_Messenger_Tests_Application_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan/console-application.php
