name: Test application

on:
    pull_request:
    push:
        branches:
            - '[0-9]+.x'
            - '[0-9]+.[0-9]+'

jobs:
    test:
        name: 'PHP ${{ matrix.php-version }} (${{ matrix.dependency-versions }}, Coverage ${{ matrix.coverage }})'
        runs-on: ubuntu-latest

        env:
            DATABASE_URL: mysql://root:root@127.0.0.1:3306/sulu_messenger_test?serverVersion=5.7&charset=utf8mb4

        strategy:
            fail-fast: false
            matrix:
                include:
                    - php-version: '8.2'
                      coverage: true
                      dependency-versions: 'lowest'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak

                    - php-version: '8.3'
                      coverage: false
                      dependency-versions: 'highest'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak

                    - php-version: '8.4'
                      coverage: false
                      dependency-versions: 'highest'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak

                    - php-version: '8.5'
                      coverage: true
                      dependency-versions: 'highest'
                      env:
                          SYMFONY_DEPRECATIONS_HELPER: weak

        services:
            mysql:
                image: mysql:5.7
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

        steps:
            - name: Checkout project
              uses: actions/checkout@v6

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  extensions: ctype, iconv, mysql
                  coverage: pcov

            - name: Remove Lint Tools
              # These tools are not required to run tests, so we are removing them to improve dependency resolving and
              # testing lowest versions.
              run: composer remove "*php-cs-fixer*" "*phpstan*" "*rector*" --dev --no-update

            - name: Install composer dependencies
              uses: ramsey/composer-install@v3
              with:
                  dependency-versions: ${{ matrix.dependency-versions }}
                  composer-options: ${{ matrix.composer-options }}

            - name: Bootstrap test environment
              run: composer bootstrap-test-environment

            - name: Execute test cases
              if: matrix.coverage == false
              run: composer test

            - name: Execute test cases with coverage
              if: ${{ matrix.coverage }}
              run: composer test-with-coverage

            - name: Check code coverage
              if: ${{ matrix.coverage }}
              run: composer check-coverage

    lint:
        name: "PHP Lint"
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v6

            - name: Install and configure PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  extensions: ctype, iconv, mysql

            - name: Install composer dependencies
              uses: ramsey/composer-install@v3
              with:
                  dependency-versions: highest

            - name: Lint Code
              run: composer lint
